\begin{sectionheader}{Experience}
{% for job in experience if job.company %}
  \item \textbf{ {{ job.company | escape_latex }} } \hfill {\emph{ {{ job.dates | escape_latex }} }}\\[-1pt]
        {\small {{ job.position | escape_latex }}}\\[-2pt]
        {\footnotesize {{ job.description | escape_latex }}}
{% endfor %}
\end{sectionheader}
