\begin{sectionheader}{Projects}
{% for cat in projects %}
  \item \textbf{ {{ cat.category | escape_latex }} }
  \begin{itemize}[leftmargin=1em,itemsep=1pt,topsep=1pt]
    {% for proj in cat["items"] %}
      \item \textbf{ {{ proj.title | escape_latex }} } \hfill {\emph{ {{ proj.duration | escape_latex }} }} \\
            {\small {{ proj.description | escape_latex }}} \\[-2pt]
            {\footnotesize \emph{ {{ proj.details | escape_latex }} }}
    {% endfor %}
  \end{itemize}
{% endfor %}
\end{sectionheader}
