\begin{sectionheader_nobullet}{Skills}
{% for cat in skills %}
  \item \textbf{ {{ cat.category | escape_latex }} }: {{ cat["items"] | map('escape_latex') | join(", ") }}
{% endfor %}
\end{sectionheader_nobullet}
