\begin{sectionheader}{Education}
{% for school in education if school.school %}
  \item \textbf{ {{ school.school }} } \hfill {\emph{ {{ school.dates }} }} \\
    {{ school.degree }} \\
    {\footnotesize {{ school.details }}}
{% endfor %}
\end{sectionheader}
