\begin{sectionheader}{Experience}
{% for job in experience if job.company %}
  \item \textbf{ {{ job.company }} } \hfill {\emph{ {{ job.dates }} }}\\[-1pt]
        {\small {{ job.position }}}\\[-2pt]
        {\footnotesize {{ job.description }}}
{% endfor %}
\end{sectionheader}
