\begin{sectionheader}{Projects}
{% for cat in projects %}
  \item \textbf{ {{ cat.category }} }
  \begin{itemize}[leftmargin=1em,itemsep=1pt,topsep=1pt]
    {% for proj in cat["items"] %}
      \item \textbf{ {{ proj.title }} } \hfill {\emph{ {{ proj.duration }} }} \\
            {\small {{ proj.description }}} \\[-2pt]
            {\footnotesize \emph{ {{ proj.details }} }}
    {% endfor %}
  \end{itemize}
{% endfor %}
\end{sectionheader}
